.contenedor__proyecto{
    @include grid(2, 0);
    margin-top: 10rem;
    @include telefono {
        grid-template-columns: 100%;
    }
}

.contenido__proyecto {
    @include telefono {
        text-align: center;
    }
   p{
       margin-bottom: 2rem;
       
       font-family: monospace;
   } 
}

.title__proyecto {
    color: $secundario;
    font-weight:400;
}

.fecha__proyecto {
    color: $gris;
}

.img__proyecto {    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

.imagen {
    padding: 2rem;
    border: 1px solid $gris;
    border-radius: 1.5rem;
}

.descripcion {
    width: 40rem;
    @include telefono {
        width: 90%;
    }
    
}

.tecnologia {
    display: flex;
    @include telefono {   
        justify-content: space-evenly;     
       flex-wrap: wrap; 
    }
}

.icono {
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    border-radius: 0.3rem;
}

.botones__proyecto {
    margin-top: 2rem;
    width: 25rem;
    
    display: flex;
    justify-content: space-evenly;
}

.boton__proyecto {
    background-color: $secundario;
    padding: 1rem;
    color: white;
    border-radius: .5rem;
    &:hover {
        background-color: #E8F0F2;
        color: $secundario;
    }
}